<h1>Showing article details</h1>
<p><strong>Title:  </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<p><%= @article.to_s %></p>
<p><%= @article.object_id %></p>
<p><%= @article.inspect %></p>

